@model List<ResultCommentDto>


<div id="main-comments">
    <ul class="comment-list">

        @foreach (var comment in Model) 
        {
            @Html.Partial("_CommentItemPartial", comment)
        }

    </ul>
</div>
