@model List<ResultCommentDto>

    

<ul class="comment-list">

    @foreach (var item in Model) 
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="~/carbook-master/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</div>
                <p>@item.Description</p>



                <div style="display: flex; align-items: center; gap: 10px;">
                    @await Component.InvokeAsync("_CommentLikeDislikeComponentPartial", new { id = item.CommentID })

                    <button class="btn btn-primary btn-sm" type="button" onclick="toggleReplyForm(@item.CommentID)">Yanıtla</button>
                </div>


                <div id="reply-form-@item.CommentID" style="display: none; margin-top:10px;">
                    @await Component.InvokeAsync("_CommentReplyComponentPartial", new { commentId = item.CommentID })
                </div>


                
            </div>
        </li>

    }

</ul>

<script>

    function toggleReplyForm(commentId) {
        var form = document.getElementById('reply-form-' + commentId);
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

</script>

