
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



@model CreateTestimonialDto
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Referans Sayfası Veri Girişi Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Referans ekleme işleminin yapıldığı sayfamızdır. Bilgileri eksiksiz olarak doldurup kaydet butonuna tıklamanız yeterlidir.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Referans Unvan</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Referans Yorumu</label>
                                <input type="text" class="form-control" id="exampleInputComment" asp-for="Comment">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referans Bilgisini Kaydet</button>
                        </form>

                    </div>
                </div>


            </div>

        </div>

    </div>
</div>



