@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";




}




@model List<ResultMessageByCurrentUserDto>

<div class="user-messages-container">
    @foreach (var message in Model)
    {
        <a href="/Message/MessageDetails/@message.OtherUserID" class="user-message-link">
            <div class="user-message">
                <div class="user-photo">
                    <img src="/carbook-master/images/person_1.jpg" alt="@message.OtherUserName">
                </div>
                <div class="user-details">
                    <h4>@message.OtherUserName</h4>
                    <p>@message.LastMessageContent</p>
                    <span class="message-date">@message.LastMessageDate</span>
                </div>
                <div class="view-details">
                    <span>Mesaj Detayları</span>
                </div>
            </div>
        </a>
    }
</div>

